<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @review.restaurant.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Message:</strong>
  <%= @review.message %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
